<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Trusty News</title>
        <!-- {% load staticfiles %} -->
        <link rel="stylesheet" href="{% static 'trustynews/style.css' %}">
        <link rel="stylesheet" href="../../static/trustynews/style.css">
        <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">

        <!-- <script src="{% static 'common/js/jquery.js' %}"></script> -->

        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>

        <script type="text/javascript" src="../../static/trustynews/script.js"> </script>
        <script src="{% static 'trustynews/script.js' %}"></script>

        <script type="text/javascript">
            //for some reasons only ajax call only works here, doesn't work in scrit.js
            function search(){
                console.log("posted");
                _url = $("input[name='searchURL']").val().trim();
                console.log(_url);
                if(isURL(_url)){
                    $("button[name='go']").attr('disabled', true);
                    $(".loading").show().html("LOADING...");

                    $.ajax({
                       url: "trustynews/searchURL",
                       type: "POST",
                       data: {
                           'url':_url,
                           csrfmiddlewaretoken: "{{ csrf_token }}"
                       },
                       success:function(json){
                           searching = false;
                           console.log(json);
                           setupML(json);
                           setupOverview(json);
                           setupGoogle(json);
                           $(".items_cont").addClass("display");
                           $("button[name='go']").attr('disabled', false);
                           $(".loading").hide();
                       },
                       error:function(){
                           //alert("no");
                           searching = false;
                       }
                    });

                    // $(".items_cont").addClass("display");
                    // $("button[name='go']").attr('disabled', false);
                    // $(".loading").hide();

                    $(".search_form").addClass("searched");
                }else{
                    $(".loading").show().html("INVALID URL");
                }

            }
        </script>
    </head>
    <body>
        <div class="" style="width:100%;height:100%;" ng-app="myApp">


        <div class="search_form" >
            <div class="search_box">
                <form class="" action="index.html" method="post" id="inputForm">
                    {% csrf_token %}
                    <input class="form-control" type="text" name="searchURL" value="" placeholder="Input you news URL">
                    <button type="button" name="go" class='btn btn-default' onclick="search()">GO</button>
                </form>
                <span class="loading">LOADING...</span>
            </div>
        </div>

        <div class="items_cont">
            <div class="tabs_cont">
                <ul>
                    <li onclick="changeTab(0)" class="selected"><h4>Overview</h4></li><li class="" onclick="changeTab(1)"><h4>Machine Learning</h4></li><li onclick="changeTab(2)"><h4>Google Searches</h4></li><li onclick="changeTab(4)"><h4>Misc</h4></li>

                </ul>
            </div>
            <div class="content_cont">
                <div class="overview_cont cont">
                    <h3 class="reliability">This domain is known to be <span>RELIABLE</span></h3>
                    <p>According to:</p>
                    <ul>
                        <li><h4>IBM Watson thinks it is <span class="percent"></span> reliable</h4></li>
                        <li><h4>Google search algorithms thinks it is <span class="percent"></span> reliable</h4></li>
                        <li><h4>We think this article is <span class="percent"></span> reliable</h4></li>
                    </ul>
                </div>

                <div class="ml_cont hide cont">
                    <div class="stats">
                        <div class="col">
                            <h5>Emotional Tone</h5>
                            <ul class="">
                                <li><div></div><span>Anger</span><span class="percent"></span></li>
                                <li><div></div><span>Disgust</span><span class="percent"></span></li>
                                <li><div></div><span>Fear</span><span class="percent"></span></li>
                                <li><div></div><span>Joy</span><span class="percent"></span></li>
                                <li><div></div><span>Sadness</span><span class="percent"></span></li>
                                <li><div></div><span>Emotional Reliability</span><span class="percent"></span></li>
                            </ul>

                        </div>
                        <div class="col">
                            <h5>Language Tone</h5>
                            <ul class="">
                                <li><div></div><span>Analytical</span><span class="percent"></span></li>
                                <li><div></div><span>Confident</span><span class="percent"></span></li>
                                <li><div></div><span>Tentative</span><span class="percent"></span></li>
                                <li><div></div><span>Language Reliability</span><span class="percent"></span></li>
                            </ul>
                        </div>
                        <div class="col">
                            <h5>Social Tone</h5>
                            <ul class="">
                                <li><div></div><span>Openess</span><span class="percent"></span></li>
                                <li><div></div><span>Consienciousness</span><span class="percent"></span></li>
                                <li><div></div><span>Extraversion</span><span class="percent"></span></li>
                                <li><div></div><span>Agreeableness</span><span class="percent"></span></li>
                                <li><div></div><span>Emotional Range</span><span class="percent"></span></li>
                                <li><div></div><span>Social Reliability</span><span class="percent"></span></li>
                            </ul>
                        </div>
                        <div class="overalltotal">
                            <div></div><span>Total Reliability: </span><span class="percent"></span>
                        </div>
                    </div>
                    <div class="keywords">
                        <hr>
                        <h4>Keywords</h4>
                        <ul>
                            <li>DONALD TRUMP</li>
                            <li>HIHI TRUMP</li>
                        </ul>
                    </div>
                </div>
                <div class="google_cont hide cont" ng-controller="google_ctrl">
                    <h3>Google has <span class="total_results"></span> results for "<span class="searched_keywords"></span>"</h3>
                    <div class="overalltotal">
                        <div></div><span>Total Reliability: </span><span class="percent"></span>
                    </div>

                    <hr>
                    <h4>The top ten results are the following, with red being unreliable sources</h4>
                    <ul>
                        <li><span class="url">URL://url.com</span><span>RELIABLE</span></li>
                        <li class="invalid"><span class="url">URL://url.com</span><span>NOT RELIABLE</span></li>
                        <li><span class="url">URL://url.com</span><span>RELIABLE</span></li>
                    </ul>
                </div>
            </div>

        </div>

    </div>
    </body>
</html>
