body{font-family: sans-serif; background: rgb(217, 241, 242); padding: 0px; position: absolute; top:0;left:0;height:100%;width:100%;}
ul{padding:0; margin:0px;}
li{list-style: none;}
hr{color:black;}

.hide{display: none;}

/*SEARCH*/
.loading{display:none;}
.search_form{position: absolute;  transition: 0.5s ease; height:90%;width:100%;}
.search_form .search_box{text-align: center; height: 50px; left:0;right:0;top:0;bottom:0; margin:auto; position: absolute;margin:auto;}
.search_form input[name="searchURL"]{min-width:400px; width:40%;display: inline-block;}

.searched{height:100px;}
.searched .search_box{}

/*ITEMS*/
.items_cont{ transition: 0.5s ease; left:0; right:0; min-width:600px; width:70%;margin:auto; padding-bottom:10px; transition: 0.5s ease; display: none; position: absolute; top:120px;
    -webkit-box-shadow: 0px 0px 11px 2px rgba(138,138,138,0.51);
    -moz-box-shadow: 0px 0px 11px 2px rgba(138,138,138,0.51);
    box-shadow: 0px 0px 11px 2px rgba(138,138,138,0.51); border-radius:5px;}
.items_cont .tabs_cont{border-bottom:1px solid black;}
.items_cont .tabs_cont ul{margin-bottom:0px;}
.items_cont .tabs_cont li{display: inline-block; width:25%; text-align: left; padding: 0px 0px 0px 10px;}
.items_cont .tabs_cont li:hover{background:rgba(1, 1, 1, 0.77);color:white; cursor:pointer;}


.display{  display: block; opacity: 1;}
.selected{ background:rgba(1, 1, 1, 0.77);color:white;}

.items_cont .content_cont{margin:10px;}
/*OVERVIEW*/
.items_cont .overview_cont h3{margin:20px 30px;}


/*ML*/
.items_cont .ml_cont .stats{text-align: center;}
.items_cont .ml_cont .stats .col{width:30%;background:rgb(240, 235, 225); display: inline-block; margin:1%; vertical-align: top;}
.items_cont .ml_cont .stats .col ul li{margin:5px 5px; text-align: left; position: relative; color:black; border-radius:3px; border:1px solid white; padding: 5px; background: rgba(0, 0, 0, 0.02);}
.items_cont .ml_cont .stats .col ul li span{z-index: 50;position: relative;left:0;top:0; color:rgb(111, 165, 180);}
.items_cont .ml_cont .stats .col ul li div{height:100%; width:50%; background:white; position: absolute; top:0; left:0;}
.items_cont .ml_cont .overalltotal{position: relative; background:rgb(240, 235, 225); padding:2px; border: 2px solid rgb(240, 235, 225);}
.items_cont .ml_cont .overalltotal span{position: relative;top:0;left:0;}
.items_cont .ml_cont .overalltotal div{position: absolute;top:0;left:0;background:white;height:100%;width:70%;}
.items_cont .ml_cont .keywords h4{text-align: center;}
.items_cont .ml_cont .keywords li{width:31%; display:inline-block; border:1px solid rgb(111, 165, 180);padding:5px;text-align: center;border-radius: 5px;margin:1%;}

/*GOOGLE*/
.items_cont .google_cont .overalltotal{position: relative; background:rgb(240, 235, 225); padding:2px; border: 2px solid rgb(240, 235, 225);text-align: center;}
.items_cont .google_cont .overalltotal span{position: relative;top:0;left:0;}
.items_cont .google_cont .overalltotal div{position: absolute;top:0;left:0;background:white;height:100%;width:70%;}
.items_cont .google_cont ul{margin:20px;}
.items_cont .google_cont ul li{background:rgb(207, 228, 170); padding:5px 20px; margin:5px; border-radius:5px; position: relative; overflow: hidden;}
.items_cont .google_cont ul .invalid{background: rgb(205, 107, 107);}
.items_cont .google_cont ul .unknown{background:rgb(218, 209, 152);}
.items_cont .google_cont ul li span:not(.url){position: absolute; right:-200px; bottom:5px; transition: 0.5s ease; color:white;}
.items_cont .google_cont ul li:hover{cursor: pointer; background:rgb(134, 171, 73); }
.items_cont .google_cont ul li:hover  span:not(.url){right:20px;}
.items_cont .google_cont ul .invalid:hover{background: rgb(166, 55, 55);}
.items_cont .google_cont ul .unknown:hover{background:rgb(177, 166, 97);}

.red{color:rgb(187, 33, 33);}
.green{color:rgb(134, 171, 73);}
